.venv/
__pycache__/
*.py[cod]
.pytest_cache/

# Kubernetes secrets
k8s/application/secret.yaml

# Kubernetes secrets
k8s/minio/secret.yaml

# Helm local development secrets
helm/thumbnail-pipeline/values.local.yaml


